body {
  font-family: 'Roboto', sans-serif;
  margin:0;
  background-color:#ffffff;
  overflow:hidden;
}
header {
  margin: 40px 30px;
}
#main {
  position:relative;
  margin:auto;
  margin-top: 100px;
  width:360px;
  height:460px;
}
.logo {
  font-family: 'Roboto Slab', serif;
  font-size: 0.7em;
  color: #CEBA51;
  text-decoration: none;
}
#toys {
  position:absolute;
  top:210px;
  left:102px;
  width:231px;
  height:121px;
  background-image:url(img/toys.png);
}
.toy {
  position:absolute;
  top:30px;
  left:30px;
  width:50px;
  height:auto;
}
.winContainer {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #2D5BA0;
  border-radius: 5%;
  text-align: center;
}
.winMessage {
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
  color: #fff;
}
.winButton {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 120px;
  margin: auto;
  margin-bottom: 55px;
  text-decoration: none;
  padding: 15px 20px;
  background: #CEBA51;
  color: #fff;
}
.loseContainer {
  display: none;
  text-align: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #2D5BA0;
  border-radius: 5%;
  transition: width 0.5s;
}
.loseMessage{
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
  color: #fff;
}
.loseImg{
  width: 150px;
  height: auto;
  margin-top: 50px;
}
#moveContainer {
  position:absolute;
  top:343px;
  left:102px;
  width:231px;
  height:36px;
  background:#CEBA51;
  border:2px solid #898989;
  border-radius:20px;
}
#moveControl {
  position:absolute;
  top:-2px;
  left:-2px;
  width:36px;
  height:36px;
  background:#fff;
  border:2px solid #898989;
  border-radius:50%;
  cursor:pointer;
}
#claw {
  position:absolute;
  top:65px;
  left:30px;
  width:60px;
  height:260px;
}
#clawBar {
  position:absolute;
  top:20px;
  left:27px;
  width:6px;
  height:15px;
  background:#5b5b5b;
}
#clawALL {
  position:absolute;
  top:0;
  left:0;
  width:60px;
}
#clawBall {
  position:absolute;
  top:31px;
  left:21px;
  width:6px;
  height:6px;
  border:6px solid #5b5b5b;
  border-radius:50%;
}
#leftClaw {
  position:absolute;
  top:36px;
  left:3px;
  width:16px;
  height:25px;
  border-top:8px solid #5b5b5b;
  border-left:4px solid #5b5b5b;
  transform-origin: top right;
  transform: rotate(-30deg);
}
#rightClaw {
  position:absolute;
  top:36px;
  right:3px;
  width:16px;
  height:25px;
  border-top:8px solid #5b5b5b;
  border-right:4px solid #5b5b5b;
  transform-origin: top left;
  transform: rotate(30deg);
}
#clawOpen {
  transform: rotate(0deg);
}
@-webkit-keyframes fullsize {
  from {
    transform:scale(1) translate(0,0)
  }
  to {
    transform:scale(4) translate(30px,-30px)
  }
}
.ticketContainer {
  background-color: #fff;
  height: 100%;
  border-radius: 10%;
}
.ticketContainerBlue {
  border: solid #2D5BA0 20px;
}
.ticketContainerBrown {
  border: solid #BA771E 20px;
}
.ticketContainerGreen {
  border: solid #6EB72E 20px;
}
.ticketContainerLightblue {
  border: solid #7BCBEF 20px;
}
.ticketContainerOrange {
  border: solid #F9AF2B 20px;
}
.ticketContainerPink {
  border: solid #F48484 20px;
}
.ticketContainerPurple {
  border: solid #6856D6 20px;
}
.ticketImage {
  width: 320px;
  border-radius: 7% 7% 0 0;
}
.ticketTextarea {
  position: relative;
  padding: 80px 20px;
}
.ticketQR {
  position: absolute;
  top: -50px;
  right: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  background: #ccc;
  border: solid 7px #E3E3E3;
  background-image: url(img/qr.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.ticketCharacter {
  position: absolute;
  top: -80px;
  width: 80px;
  right: 5%;
}
.ticketType {
  color: #ccc;
  margin: 0;
}
.ticketName {
  margin-top: 3px;
}
.ticketAdult {
  margin-bottom: 0;
}
.ticketDate {
  margin: 0;
}
